<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ThreeJS - Video Background</title>
  <style>
    body {
      margin: 0;
      overflow: hidden;
    }

    video {
      /* width: 100%;
      height: 100%; */
      position: absolute;
      top: 0;
      left: 0;
    }

    canvas {
      z-index: 1;
    }
  </style>
</head>

<body>
  <canvas id="canvas"></canvas>
  <video autoplay></video>

  <script src="three.js"></script>
  <script src="main.js"></script>
</body>

</html>